@import url("https://fonts.googleapis.com/css2?family=Outfit");

header{
    width: 70%;
    height: 10em;
    margin: auto;
    padding-left: 1em;
    min-width: 470px;
    font-family: Outfit;
}

@media (max-width: 320px) {
    header{
       width: 360px;
    }
}

.row{
    height: 50%;
}

.options{
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
}

.input{
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    margin-top: .5em;
    position: relative;
}

.input input{
    background-color:var(--input-background-color);
    border-radius: 10px;
    border: none;
    /* height: 4em; */
    width: 98%;
    box-sizing: border-box;
    color: var(--input-text-color);
    padding: 0.7em;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.input input:focus{
outline: none;
}

/* typography */
h1{
    color: var(--webname-color);
    font-size: 3rem;
}

h1 span{
    color: blueviolet;
}

.options i{
    cursor: pointer;
    background-color: var(--icon-background-color);
    width: 1em;
    border-radius: 50%;
    padding: .3em;
    position: absolute;
    right: 3%;
}

.input i{
  cursor: pointer;
  color: blueviolet;
  position: absolute;
  font-size: 1.9rem;
  background-color: var(--input-background-color);
  right: 3%;
  font-weight: 200;
  top: 15px;
}

